<p style="color: green"><%= notice %></p>

<h1>Starred</h1>

<div id="stories">
  <% @starred_stories.each do |story| %>
    <%= render story %>
    <p>

      <%= link_to "Show this story", story %>
    <p>Starred by <%= story.user_id %></p>

    </p>
  <% end %>
</div>

<%= link_to "New story", new_story_path %>
