  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold tracking-tight text-gray-900">Top Stories</h1>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <ul role="list" class="divide-y divide-gray-100">
        <% @story_summaries.each do |summary| %>
      
          <li class="flex justify-between gap-x-6 py-5">
            <div class="flex gap-x-4">
              <div class="min-w-0 flex-auto">
                <%= link_to summary.story.url, class: 'text-sm font-semibold leading-6 text-gray-900' do %>
                  <%= summary.story.title %>
                <% end %>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500"><%= summary.story.url %></p>
              </div>
            </div>
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              votes: <%= summary.upvotes %>
            </div>
            <div class="hidden sm:flex sm:flex-col sm:items-end">
              Rated by: <%= summary.cached_data['user_names'].presence&.join(', ') %>
            </div>
          </li>          
        <% end %>
      </ul>
    </div>
  </main>