%nav.bg-white
  .max-w-6xl.mx-auto.px-4
    .flex.justify-between
      .flex.space-x-4
        %div
          = link_to root_path, class: 'flex items-center py-5 px-2 text-gray-700 hover:text-gray-900' do
            = image_tag 'https://uploads-ssl.webflow.com/62c45056e8072083b8076813/636b7fcb19f72a5ac4095fed_logo-new-icon-32px.png', alt: 'Kasheesh Logo', width: '25'
            %span.font-bold.hover:text-kasheeshOrange
              Kasheesh News
        .flex.items-center.space-x-1
          = link_to 'All', root_path, class: "py-5 px-3 text-black-700 hover:text-kasheeshOrange #{'text-kasheeshOrange' unless params[:filter].present? || params[:search].present?}"
          = link_to 'Starred', root_path(filter: 'starred'), class: "py-5 px-3 text-black-700 hover:text-kasheeshOrange #{'text-kasheeshOrange' if params[:filter] == 'starred'}"
        .flex.items-center.space-x-1
          = form_tag(posts_path, method: :get) do
            = text_field_tag :search, params[:search], placeholder: 'Search by Title...', class: 'field w-full outline-none text-sm text-gray-700 rounded pr-2 focus:border-kasheeshOrange focus:ring-0 focus:ring-offset-0'
      .flex.items-center.space-x-1
        - if current_user
          = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'py-5 px-3 text-black-700 hover:text-kasheeshOrange'
        - else
          = link_to 'Sign In', new_user_session_path, class: 'py-5 px-3 text-black-700 hover:text-kasheeshOrange'
          = link_to 'Sign Up', new_user_session_path, class: 'py-5 px-3 text-black-700 hover:text-kasheeshOrange'

