<h1>Welcome to Top News</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Score</th>
      <th>Recommended by</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= link_to story.title, story.url, target: "_blank", rel: "noopener noreferrer", class: "story-link" %></td>
        <td><%= story.author %></td>
        <td><%= story.score %></td>
        <td>
          <%= story.users.map(&:full_name).join(", ") %>
        </td>
        <td>
          <% if current_user.recommended_stories.include?(story) %>
            <% # Note: this does use the active record query syntax here to avoid an N + 1 query %>
            <%= button_to "Unrecommend", hacker_news_recommendation_path(story.recommendations.find { |r| r.user_id == current_user.id }), method: :delete, class: 'recommend-button'  %>
          <% else %>
            <%= button_to "Recommend", hacker_news_recommendations_path(hacker_news_story_id: story.id), method: :post, class: 'recommend-button'  %>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @stories %>
