<div id="<%= dom_id flagged_story %>">
  <p>
    <strong>Title:</strong>
    <%= flagged_story.title %>
  </p>

  <p>
    <strong>By:</strong>
    <%= flagged_story.by %>
  </p>

  <p>
    <strong>External:</strong>
    <%= flagged_story.external_id %>
  </p>

  <p>
    <strong>Score:</strong>
    <%= flagged_story.score %>
  </p>

  <% if params[:action] == 'show' %>
    <p>
      <strong>Users who picked the story:</strong>
      <%= @users_flagged_story%>
    </p>
  <% end %>

</div>
