<div>
  <p>Index: <%= story_counter + 1 %></p>
  <p>Title: <%= story["title"] %></p>
  <p>By: <%= story["by"] %></p>
  <p>Score: <%= story["score"] %></p>
  <p>Link: <%= story["url"] %></p>
  <p>Date: <%= story["time"] %></p>
</div>