<%= stylesheet_link_tag 'style.css' %>

<h1>Welcome to Top News</h1>

<% if current_user.blank? %>
    <%= button_to "Sign In", new_user_session_path, method: :get %>
<% else %>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<% @hacker_news_stories.each_with_index do |story, index| %>
    <div class="story">
        <div class="left_column">
            <div class="rank">
                <%= index + 1 %>
            </div>
            <% if current_user %>
                <% if story.users.include?(current_user) %>
                    <%= button_to "Unsave", user_stories_path(story_id: story.id ), method: :delete %>
                <% else %>
                    <%= button_to "Save", user_stories_path(story_id: story.id ), method: :post %>
                <% end %>
            <% end %>
        </div>
        <div class="details">
            <div>Title: <%= story.title %></div>
            <div>Author: <%= story.author %></div>
            <% if story.url %>
                <div>URL: <a href=<%= story.url %> target="_blank"><%= story.url %></a></div>
            <% end %>
            <div>Date: <%= Time.at(story.source_time.to_i) %></div>
            <% if story.users.present? %>
                <div>Saved by: <%= story.users.map(&:full_name).join(", ") %></div>
            <% end %>
            <div class="line" /> </div>
        </div>
    </div>
<% end %>

<% if current_user %>
    <h2>Saved Stories</h2>
    <% if @user_stories %>
        <% @user_stories.each do |story| %>
            <div class="story">
                <div class="left_column">
                    <%= button_to "Unsave", user_stories_path(story_id: story.id ), method: :delete %>
                </div>
                <div class="details">
                    <div>Title: <%= story.title %></div>
                    <div>Author: <%= story.author %></div>
                    <% if story.url %>
                        <div>URL: <a href=<%= story.url %> target="_blank"><%= story.url %></a></div>
                    <% end %>
                    <div>Date: <%= Time.at(story.source_time.to_i) %></div>
                    <% other_users = story.users - [current_user] %>
                    <% if other_users.present? %>
                        <div>Also Saved by: <%= other_users.map(&:full_name).join(", ") %></div>
                    <% end %>
                    <div class="line" /> </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <div>None</div>
    <% end %>
<% end %>

