<% if user_signed_in? %>
<div class="user-info">
<h1>Top News of the Day</h1>
      <p>Hi, <%= @user.first_name %> <%= @user.last_name %>!</p>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
      </div>
      <% @stories.each do |story| %>
      <div class="story">
        <ul>
          <li>
            <div class="story-title">
              <h4><%= story.title %></h4>
              <%= link_to"Read More", story.url %>
            </div>
          </li>
          <li>
            <label>Posted By:</label>
            <% if story.by.present? %>
            <%= story.by %>
            <% else %>
            Anonymous
            <% end %>
          </li>
          <li>
            <% if story.text.present? %>
            <label>Story:</label>
            <%= story.text %>
            <% end %>
          </li>
          <li>
            <label>Score:</label>
            <%= story.score %>
          </li>
          <li>
            <label>Posted At:</label>
            <%= story.time %>
          </li>
        </ul>
        <% recommendation = current_user.recommendations.find_by(story: story) %>
        <% if recommendation %>
        <%= button_to "Remove from Recommendations", story_recommendations_path(story_id: story.id, id: recommendation.id), method: :delete %>
        <% else %>
        <%= button_to "Recommend", story_recommendations_path(story_id: story.id), method: :post %>
        <% end %>
      </div>
      <% end %>
    <% else %>
    <h1>Welcome to Top News</h1>
      <p><%= link_to "Sign in", new_user_session_path %> to continue.</p>
    <% end %>
