<% if user_signed_in? %>
  <div class="user-info">
    <h1>Recommended Stories</h1>
      <%= link_to "Back to Top Stories", root_path %>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
  </div>
  <% @stories.each do |story| %>
    <div class="story">
      <ul>
        <li>
          <div class="story-title">
            <h4><%= story.title %></h4>
            <%= link_to"Read More", story.url %>
          </div>
        </li>
        <li>
          <label>Posted By:</label>
            <% if story.by.present? %>
              <%= story.by %>
            <% else %>
              Anonymous
            <% end %>
        </li>
        <li>
          <% if story.text.present? %>
            <label>Story:</label>
              <%= story.text %>
          <% end %>
        </li>
        <li>
          <label>Score:</label>
          <%= story.score %>
        </li>
        <li>
          <label>Posted At:</label>
          <%= story.time %>
        </li>
        <% if story.recommendations.any? %>
          <label>Recommended By:</label>
          <ul id="recommendations-list-<%= story.story_id %>">
            <% story.recommendations.each do |recommendation| %>
              <li >
                <%= recommendation.user.first_name %> <%= recommendation.user.last_name %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No recommendations yet</p>
        <% end %>
      </ul>
      <% recommendation = current_user.recommendations.find_by(story: story) %>
      <% if recommendation %>
        <%= button_to "Remove Recommendation",
          story_recommendation_path(story_id: story.id, id: recommendation.id),
          method: :delete,
          remote: true,
          class: "recommend",
          id: "remove-recommend-button-#{story.story_id}" %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <h1>Welcome to Top News</h1>
    <p><%= link_to "Sign in", new_user_session_path %> to continue.</p>
<% end %>
