<div>
<% @page_h.each do |k, v| %>
  <% if k == 'text' %>
    <%= v.html_safe %>
  <% else %>
    <p><%= k %>: <%= v %></p>
  <% end %>
<% end %>
</div>

<%= turbo_frame_tag "page_vote" do %>
  <%= render 'votes/vote', page: @page %>
<% end %>
<hr>
<%= link_to 'Back to list', pages_path %>
