<% stories.each do |story| %>
  <div style="display: flex; margin-bottom: 7px">
    <%= link_to "★", story.toggle_star_path, method: :post, style: "text-decoration: none; font-size: 20px; margin-right: 2px; color: #{story.star_color}" %>
    <div>
      <a style="display: block" target="_open" href="<%= story.url %>"><%= story.title %></a>
      <span style="display: block">by <%= story.by %> - <%= story.formatted_created_at %></span>
      <% if story.starred_by.present? %>
        <span style="display: block">Starred by: <%= story.starred_by.to_sentence %></span>
      <% end %>
    </div>
  </div>
<% end %>
