<% starred = @current_user_stories&.include?(story) %>
<% user_emails = display_starred_by_emails(story.starrables, can_star) %>

<div class="story">
  <div class="story-info">
    <p><%= story_counter + 1 %>.</p>
    <% if story.url %>
      <a class="story-link" href="<%= story.url %>" target="_blank"><%= story.title %></a>
    <% else %>
      <p><%= story.title %></p>
    <% end %>
  </div>
  <div class="story-details">
    <p>By: <%= story.author %></p>
    <p>Score: <%= story.score %></p>
    <p>Date: <%= story.time.strftime("%m/%d/%Y") %></p>
  </div>
  <% if user_emails.present? %>
    <p>Starred by: 
      <%= user_emails %>
    </p>
  <% end %>
  <% if can_star %>
    <div id=<%= "#{story.id}" %> style="display: flex" class="star-group">
      <div class="filled-star" style="width: 3%; display: <%= starred ? "flex" : "none" %>">
        <%= embedded_svg('star-filled.svg') %>
      </div>
      <div class="empty-star" style="width: 3%; display: <%= starred ? "none" : "flex" %>">
        <%= embedded_svg('star.svg') %>
      </div>
    </div>
  <% end %>
</div>
