<% starred = @current_user_stories&.include?(story) %>
<% user_emails = can_star ? display_starred_by_emails_without_current_user(story.starrables) : display_starred_by_emails(story.starrables) %>

<div>
  <p>Index: <%= story_counter + 1 %></p>
  <p>id: <%= story.story_id %></p>
  <p>Title: <%= story.title %></p>
  <p>By: <%= story.author %></p>
  <p>Score: <%= story.score %></p>
  <p>Link: <%= story.url %></p>
  <p>Date: <%= story.time %></p>
  <% if user_emails.present? %>
    <p>Starred by: 
      <%= user_emails %>
    </p>
  <% end %>
  <% if can_star %>
    <div id=<%= "#{story.id}" %> style="display: flex" class="star-group">
      <div class="filled-star" style="width: 1%; display: <%= starred ? "flex" : "none" %>">
        <%= embedded_svg('star-filled.svg') %>
      </div>
      <div class="empty-star" style="width: 1%; display: <%= starred ? "none" : "flex" %>">
        <%= embedded_svg('star.svg') %>
      </div>
    </div>
  <% end %>
</div>
