<% @stories.each do |story| %>
  <div>
    <%= display_star(story.id) %>
    <%= link_to story.title, story.url %>
    posted <%= time_ago_in_words(story.posted_at) %> by
    <%= story.post_author.name %>
  </div>
<% end %>



<%= will_paginate @stories %>