<h1>Welcome to Top News</h1>

<table id="top-news" border="1">
  <caption>Top News</caption>
  <tr>
    <th>Headline</th>
    <th>Author</th>
    <th>Stars</th>
  </tr>
  <% @top_stories.each do |story| %>
    <tr>
      <td><%= link_to(story.title, story.url, target: "_blank") %></td>
      <td><%= story.author %></td>
      <td><%= story.starred_by_users.map(&:first_name).join(", ") %></td>
    </tr>
  <% end %>
</table>

<br/>
<br/>

<table id="all-news" border="1">
  <caption>All News</caption>
  <tr>
    <th>Headline</th>
    <th>Author</th>
    <th></th>
  </tr>
  <% @stories.each do |story| %>
    <tr>
      <td><%= story.url ? link_to(story.title, story.url, target: "_blank") : story.title %></td>
      <td><%= story.author %></td>
      <td><%= story.starred_by_users.include?(current_user) ? "â­" :  button_to("Star", story_stars_url, method: :post, params: {story_id: story.id }) %></td>
    </tr>
  <% end %>
</table>
