<h1>Top Hacker News Stories</h1>

<%= link_to 'View Starred Stories', starred_stories_path %>
<%= button_to 'Load Latest News', fetch_latest_news_stories_path, method: :get, remote: true, id: 'load-latest-news' %>
<span id="load-status" style="display: none;"></span>

<div id="stories-list">
  <% if @stories.present? %>
    <% @stories.each do |story| %>
      <div class="story" data-story-id="<%= story.hacker_news_id %>">
        <h2><%= link_to story.title, story.url, target: '_blank' %></h2>
        <p>Points: <%= story.points %> | Comments: <%= story.comments_count %></p>
          <%= render 'star_button', story: story, remote: true %>
        <p>Starred by: <%= story.starred_by_names %></p>
      </div>
    <% end %>
  <% else %>
    <p>No stories available at the moment. Please try again later.</p>
  <% end %>
</div>

<div class="pagination">
  <%= paginate @stories %>
</div>