<div class="bg-blue-500 p-4 mb-8">
  <div class="container mx-auto flex justify-between items-center">
    <h2 class="text-2xl font-bold text-black">Welcome to Top News</h2>
    <% if user_signed_in? %>
      <div class="flex items-center">
        <p class="text-black text-sm">Signed in as <%= current_user.name %></p>
        <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "ml-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" %>
      </div>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
<div>
<h2 class="text-2xl font-bold mb-4">Top Stories</h2>
<ul>
  <% @stories.each do |story| %>
    <li class="mb-2 bg-white p-4 rounded shadow">
      <div class="flex justify-between items-center">
        <%= link_to story.title, story.url, target: '_blank', class: 'text-blue-500 hover:text-blue-700 mr-4 flex-grow' %>
        <%= button_to "Flag", flag_story_path(story), method: :post, class: 'py-1 px-2 text-xs bg-blue-500 hover:bg-blue-700 text-black rounded' %>

      </div>
    </li>
  <% end %>
</ul>
</div>
<div>
  <h2 class="text-2xl font-bold mb-4">Flagged Stories</h2>
  <ul>
    <% @flagged_stories.each do |flagged_story_data| %>
      <li class="mb-2 bg-white p-4 rounded shadow">
        <div class="flex flex-wrap justify-between items-center">
          <div class="w-full sm:w-auto flex-grow mb-2 sm:mb-0">
            <%= link_to flagged_story_data[:story].title, flagged_story_data[:story].url, target: '_blank', class: 'text-blue-500 hover:text-blue-700 break-all' %>
          </div>
          <div class="text-right">
            <span class="text-sm font-semibold text-gray-700">Count: <%= flagged_story_data[:count] %></span>
            <br>
            <span class="text-sm text-gray-700">Flagged By: <%= flagged_story_data[:user_names] %></span>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

</div>
