<p style="color: green"><%= notice %></p>

<h1>Welcome back, <%= current_user.email %>!</h1>
<h3>Here are your starred stories...</h3>
<div id="stories">
  <% @stories.each do |story| %>
    <%= render story %>
    <p>

      <%= link_to "Show this story", story %>
    <p>Starred by <%= story.user_id %></p>

    </p>
  <% end %>
</div>

<%= link_to "New story", new_story_path %>
