<!-- app/views/stories/upvoted.html.erb -->
<h1>Top Upvoted Stories</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>URL</th>
    <th>Upvotes</th>
    <th>Upvoted by</th>
  </tr>
  </thead>
  <tbody>
  <% @upvoted_stories.each do |story| %>
    <tr>
      <td><%= story.title %></td>
      <td><%= link_to story.url, story.url, target: "_blank" %></td>
      <td><%= story.upvotes.size %></td>
      <td>
        <% story.upvoted_by_users.each do |user| %>
          <%= user.email %><br>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @upvoted_stories %>
