<p style="color: green"><%= notice %></p>

  <%= link_to "Back to posts", posts_path %> |
  <%= link_to "Edit this post", edit_post_path(@post) %>

<%= render @post %>

<div>
      <% likes = @post.likes.find { |like| like.user_id == current_user.id} %>
<% if  likes %>
  <%= button_to '☆', post_like_path(@post, likes), method: :delete %>
<% else %>
  <%= button_to '★', post_likes_path(@post), method: :post %>
<% end %>
  </p> 
<%# ☆ ★ %>
  <%# <%= button_to "Destroy this post", @post, method: :delete %> 
</div>


