  <% @stories.each do |story| %>

  <div class="story">
    <h2>
      <%= link_to story['title'], story['url'], target: '_blank' %>
    </h2>

    <p>
    
      Score: <%= story['score'] %> | 
      By: <%= story['by'] %> | 
      <%= pluralize(story['descendants'], 'comment') %> |
      <%= link_to "Hacker News Discussion", "https://news.ycombinator.com/item?id=#{story['id']}", target: '_blank' %>
    </p>
    <% if story['flags'].present? %>
      <p>
        Flagged by: <%= story['flags'] %>
      <p>
    <% end %>
    <p>
    <%= link_to story['flagged'] ? 'Unflag!' :'Flag!' , story_path(story['id']) %>
    </p>
  </div>
<% end %>
