<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <% if current_user %>
  <h3>Welcome back, <%= current_user.email %> (<a style="text-align:right" href="/users/sign_out">Logout</a>)</h3>
   <nav style="background-color: gray; color:white">
 <a href="/starred" >** STARRED **</a> |
     <a href="/starred" >** ALL STORIES**</a>

   </nav>
    <% end %>
    <p class="alert">
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
