<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Starred Stories', starred_stories_path %>
      
      <% if user_signed_in? %>
        <%= current_user.first_name + ' ' + current_user.last_name %>
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign In', new_user_session_path %>
      <% end %>
    </nav>

    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <%= yield %>

    <% if current_user %>
      <div id="user-data" data-user-id="<%= current_user.id %>" data-auth-token="<%= form_authenticity_token.to_s %>"></div>    
    <% end %>
    
    <%= javascript_include_tag 'starring' %>
  </body>
</html>
