<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <%= link_to "All Stories", root_path %> |
      <%= link_to "Upvoted Stories", upvoted_stories_path %> |
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> |
        <%= link_to "My Profile", user_path(current_user) %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %>
      <% end %>

    </nav>

    <%= yield %>
  </body>
</html>
