<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <table width="100%">
      <tr valign="top">
        <td><%= link_to "home", '/' %>
          <br /><b>stories liked by: </b>| 
          <% users_nav.each do |u| %>
            <%= link_to u.username, show_user_path(u.id) %> | 
          <% end %>
          
          </td>
        <td><% if user_signed_in? %> 
    <div> Welcome <%= current_user.email %> <%= button_to "Sign out", destroy_user_session_path, method: :delete %> </div>
<% else %>
    <%= button_to "Sign in", new_user_session_path %> 
<% end %></td></tr></table>

    <p className=iii>
      <%= notice %>
    </p>
    <p className=rrr>
      <%= alert %>
    </p>

    <div className=ttt>
      <%= yield %>
    </div>
  </body>
</html>
