<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <p class="login"> 
      <% if current_user %>
        <%= "Welcome " + current_user.email + " !" %>
        <%= link_to 'Sign out',  path: destroy_user_session_path, method: :delete %>
      <% else %>
       <%= link_to 'Sign in', new_user_session_path %>
      <!-- <%= form_with model:@login do |form| %>
        text_field("Sign in") 
        <%= form.label :login, "Sign in:" %>
        <%= form.label :email, "Email" %>
        <%= form.text_field :email %>
        <%= form.label :password, "Password" %>
        <%= form.text_field :password %>
        <%= form.submit "Sign in" %>
      <% end %> 
      -->
      <!-- <%= link_to 'Sign in', new_login_path, method: :create %>  -->
      <% end %>
    </p>
    <%= yield %>
  </body>
</html>
