<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="bg-gradient-to-r from-cyan-500 to-blue-500 ">
    <nav class="flex justify-between bg-gray-800 p-4">
      <div>
        <a href="/" class="text-white">Top News</a>
      </div>
      <div>
          <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "text-white" %>
      </div>
    </nav>
    <%= yield %>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>

  </body>
</html>
