<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Top News</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="prose full-width">
  <!-- <body class="prose">  This will reset the initial style-->

    <%= render "partials/navbar" %>

    <p class="notice text-center">
      <%= notice %>
    </p>
    <p class="alert text-center">
      <%= alert %>
    </p>
    <%= yield %>
  </body>
</html>
