<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  <title>Top News</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <style>
      body {
          font-family: Arial, sans-serif;
          margin: 0;
          padding: 0;
      }

      .navbar {
          display: flex;
          justify-content: center; /* Center items horizontally */
          align-items: center;
          background-color: #2d3748;
          color: white;
          padding: 0.3rem 1rem; /* Reduced height */
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          width: calc(100% - 1.5rem); /* Full width minus the margin */
          position: fixed; /* Fixed to the top */
          top: 0;
          left: 0; /* Remove left space */
          margin-right: 0.75rem; /* Reduce space to the right */
          z-index: 1000; /* Ensure it stays above other elements */
          height: 3rem; /* Reduced height to 3rem */
      }

      .navbar h1 {
          flex: 1; /* Allow h1 to take available space */
          text-align: center; /* Center text within its flexbox */
          font-size: 1.5rem; /* Adjusted to fit reduced navbar height */
          margin: 0; /* Remove default margin */
      }

      .navbar a {
          color: white;
          text-decoration: none;
          padding: 0.3rem 0.5rem; /* Adjusted padding for reduced height */
          border-radius: 4px;
          transition: background-color 0.3s, transform 0.2s ease;
          display: inline-block;
      }

      .navbar a:hover {
          transform: scale(1.05);
      }

      .sign-in {
          background-color: #38a169;
      }

      .sign-in:hover {
          background-color: #2f855a;
      }

      .sign-out {
          background-color: #e53e3e;
      }

      .sign-out:hover {
          background-color: #c53030;
      }

      .content {
          padding: 1rem;
          margin-top: 3.5rem; /* Adjust for fixed navbar height and margin */
      }

      .menu {
          margin-left: auto;
      }
  </style>
</head>
<body>
<div class="navbar">
  <h1>Top News</h1>
  <div class="menu">
    <% if user_signed_in? %>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'sign-out' %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path, class: 'sign-in' %>
    <% end %>
  </div>
</div>

<div class="content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>
</body>
</html>