!!!
%html
  :plain
    <!--
         ___       _ ____           _ __  __     __               __
        / _ )__ __(_) / /_  _    __(_) /_/ /    / /__ _  _____   / /  __ __
       / _  / // / / / __/ | |/|/ / / __/ _ \  / / _ \ |/ / -_) / _ \/ // /
      /____/\_,_/_/_/\__/  |__,__/_/\__/_//_/ /_/\___/___/\__/ /_.__/\_, /
                                                                    /___/
        _   _           ___       _ _   _
       /_\ | |_____ __ / __|_ __ (_) |_| |_
      / _ \| / -_) \ / \__ \ '  \| |  _| ' \
     /_/ \_\_\___/_\_\ |___/_|_|_|_|\__|_||_|
     * GitHub:  @atsmith813
     * Website: https://alexsmith.codes
     * Twitter: @atsmith813
     * Email:   workwithalexsmith@gmail.com
    -->
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Kasheesh News
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    %link{ href: 'https://uploads-ssl.webflow.com/62c45056e8072083b8076813/62c45056e80720625a076853_logo-icon-color32.svg', rel: 'shortcut icon', type: 'image/x-icon' }
  %body.bg-kasheeshOffWhite.font-sans
    %p.notice= notice
    - if alert
      = render partial: 'partials/alerts', alert: alert
    = yield
